<%content_for :title do%>View Master Bracket<%end%>
<h1 id="bracket_title">2014 NCAA Men's Basketball Tournament Bracket</h1>
<h2 id="master_bracket_title">MASTER BRACKET</h1>
<br>
<%= render "bracket" %>
