<%content_for :title do%>How It Works<%end%>
<h1>How It Works</h1>
<br>
<ul id="how_it_works_list" class="list-group">
	<li class="list-group-item">
		<h4 class="list-group-item-heading hiw_list_heading">Create a pool</h4>
		Sign up and create your own playoff pool.  During sign up you will be asked to pick a unique pool name.  This name will be used to identify your pool from others.  It is what your friends will use when they sign up.
	</li>
	<li class="list-group-item">
		<h4 class="list-group-item-heading hiw_list_heading">Invite your friends</h4>
		Let your friends, family, co-workers, etc know to sign up for your playoff pool.  Give them the pool name you chose when you created the pool.  They need to use the pool name when they sign up.
	</li>
	<li class="list-group-item">
		<h4 class="list-group-item-heading hiw_list_heading">Make your picks</h4>
		Upon sign in, you will be taken directly to your personal playoff bracket.  If the pairings are out, you can make your picks and save your bracket. The same applies to all players in your pool.
	</li>
	<li class="list-group-item">
		<h4 class="list-group-item-heading hiw_list_heading">Check the pool standings</h4>
		Once the playoffs begin standings and bracket results will be updated after every game.  Check in frequently to see how you are doing against others in your tournament pool. 
	</li>
	<li class="list-group-item">
		<h4 class="list-group-item-heading hiw_list_heading">Crown the winner!</h4>
		After the playoff tournament is complete check the point standings to determine the winner.  Shower them with glory and praise.
	</li>
</ul>
<br>

