<h1>Create and run a playoff pool at the office or for friends. </h1>
<h2>Invite your co-workers, friends and enemies.</h2>
<h2>After you win your own pool, let them bask in your bracket picking prowess.</h2>
