<%content_for :title do%>Pricing<%end%>
<h1>Pricing</h1>
<br>
<ul id="pricing_list" class="list-group">
	<li class="list-group-item">
		Pool Size
		<ul>
			<li>Up to 15 players... $20</li>
			<li>Up to 35 players... $35</li>
			<li>Up to 65 players... $50</li>
			<li>Up to 100 players... $75</li>
		</ul>
	</li>
	<li class="list-group-item">
		Pay a one-time fee when you create a tournament pool.  
	</li>
	<li class="list-group-item">
		When co-workers, family and friends sign up for your pool it's free for them.
	</li>
	<li class="list-group-item">
		If you are less than pleased with the product for <b>ANY</b> reason, you will be refunded your payment amount in full.
	</li>
</ul>
<br>

