<%content_for :title do%>Scoring<%end%>
<h1>Scoring</h1>
<br>
<ul id="scoring_list" class="list-group">
	<li class="list-group-item">Scoring is awarded by round.  A correct pick in each round is awarded the following point(s).</li>
	<li class="list-group-item">Round 1 <span class="badge points_badge">1 point</span></li>
	<li class="list-group-item">Round 2 <span class="badge points_badge">2 points</span></li>
	<li class="list-group-item">Round 3 <span class="badge points_badge">4 points</span></li>
	<li class="list-group-item">Round 4 <span class="badge points_badge">6 points</span></li>
	<li class="list-group-item">Round 5 <span class="badge points_badge">8 points</span></li>
	<li class="list-group-item">Round 6 <span class="badge points_badge">10 points</span></li>
</ul>
<h2>Pick a perfect bracket and earn 146 points.  Good Luck!</h2>
	<br>
  <p>
	<div>
		<a class="btn btn-primary btn-lg" href="/admins/sign_up" role="button" >Create your own NCAA tournament pool</a>
	</div>
	</p>

