// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scoring_list
{
    font-size:18px;
}

#pricing_list
{
    font-size:18px;
}

.points_badge
{
    font-size:16px;
}

.bracket_badge
{
    font-size:10px;
}

#how_it_works_list
{
    font-size:14px;
}

.hiw_list_heading
{
    font-size:20px;
}
